<div class="bg-faded">
  <div class="" role="button">
      <!-- <h4 class="hidden">{{ product.id }}</h4> -->
      <div class="fa-1x text-center">
          <span class="">{{ product.name }}</span>
          <span class="text-muted">
              (<span class="rupeesCls"> {{ product.price }}</span>)
          </span>
      </div>
      <div class="text-center">
          <span>
               <app-counter [cartitems]="cartitems"></app-counter>
                <!--<app-counter [(counter)]="product.quantity" [itemprice]="product.price" [(totalprice)]="product.totalperitem" [cartitems]="cartitems" [(finalprice)]="tp"  -->
          </span>
      </div>
  </div>
</div>