<section>
  <div class="container">
      <div class="rows">
          <div class="col-md-9 col-sm-12 col-lg-9">
              <div class="">
                  <img src="../../assets/images/logo_Mastercard.png" />
              </div>

              <div class="mt-5 hidden">
                  <div class="is-size-1 hd1">
                      POTLUCK FOR A
                  </div>
                  <div class="txtColor-org hd2 MarkForMCNrwOBold" style="">
                      NOBLE
                  </div>
                  <div class="txtColor-org hd2 MarkForMCNrwOBold" style="padding-left:116px;">
                      CAUSE
                  </div>
                  <h4 class="MarkForMCNrw text-right pr-5" style="margin-right:70px;">
                      Savor the yummiest food...
                  </h4>
              </div>

              <div class="mt-5 text-center">
                  <!-- <a class="btn btn-primary" routerLink="/fooditem" role="button"> -->
                   <a class="btn btn-danger" (click)="signIn('google')" role="button"> 
                      <span style="display: inline-table;" class="text-white">
                          <i class="fa fa-google-plus" aria-hidden="true"></i>
                      </span>
                      <span class="text-white">Sign in with Google</span>
                  </a>
                  <!--<a class="btn btn-primary text-white" (click)="signIn('facebook')" role="button">FaceBook Authenticate</a>-->
              </div>
          </div>

          <div class="col-md-9 col-sm-12 col-lg-9 food_iconcls" style="height:95vh; display:none;">
              
          </div>
      </div>
  </div>
</section>